*
{
padding: 0;
margin: 0;
/* font-family: montserrat; */
}
body{
background: linear-gradient(rgba(148,187,233,100), rgba(0,0,0,0.6));
background-size: cover;
background-position: center;
background-attachment: fixed;
/* overflow: hidden; */
}
.header
{
height: 15vh;
padding-top: 20px;
color: #fff;
}
.logo
{
width: 60px;
float: left;
}
.login-btn
{
width:100px;
padding: 8px 0;
outline:none !important;
border:2px solid #fff ;
border-radius: 50px;
background: transparent;
color: #fff;
float: right;
}

.logo_text
{
font-size: 35px;
float: left;
font-family: cursive;
}
.main{
color: #fff;
}
.fitbit-img{
width: 450px;
float: left;
position: absolute;
}
.fitbit-screen{
	
        font-family: cursive;
	    font-size: 28px;
	    left: 142px;
	    position: relative;
	    bottom: -180px;
}
#fitbit-screenImg
{
	    margin-left: 34px;
	    margin-top: -15px;
	    height: 90px;
	    width: 90px;
}
.txt{
padding-top: 40px;
text-align: center;
}
.padding{
padding-left:100px;
}
div.color{
list-style-type:none;
}
.skin{
float: left;
height: 55px;
width: 75px;
border-radius: 10px;
margin-right: 10px;
}
#skin-pink{
background-color: #e9c7be;
/* pink */
}
#skin-brown{
background-color:#8a5362 ;
/* brown  */
}
#skin-black{
background-color: #23211f;   						/* purple #565681 */
/* BLACK */
}
#skin-orange{
background-color: #ca3d22;
/* oRANGE */
}
.margin-btn{
	margin-left: 95px;
}
#timetext{
display: '';

}

.heart-rate{
display: none;
margin-left: 57px;
color: #fff;

}

.heart{
 		animation: '';
}

@keyframes heart {
    0% {
        transform: scale(1,1);
    }
   
    50% {
        transform: scale(0.9,0.9);
    }
    100%{
    	transform: scale(0.8, 0.8)
    }
}


@media only screen and (max-width: 570px) {
.container {
max-width: 540px;
}

.padding{
	padding-left: 55px;
}
.margin-btn{
	margin-left: 60px;
}
.fitbit-img{
	position: relative;
}
.fitbit-screen{

    position: absolute;
    bottom: 170px;
    left: 155px;
}
.heart-rate{
	margin-left: 60px;
	margin-top: -10px;

}
.marg-btn{
	margin-left: 60px;
	margin-top: 10px;
}
#skin-orange{
	margin-top: 10px;
	

}

}
























/* .input-group
{
width: 90%;
max-width: 250px;
border-radius: 30px;
background-color: #fff;
margin-left: 600px;
padding: 1px;
box-sizing: border-box;
float: left;
}
.input-group:hover{
max-width: 290px;
margin-left: 560px;
transition: 1.5s;
}
.form-control
{
border: 0 !important;
border-radius: 30px !important;
margin: 2px;
box-shadow: none!important;
}
.input-group-text
{
width: 100px;
background-image: linear-gradient(#00ff7e,#1f3d90);
border: 0!important;
color: #fff !important;
padding: 0 25px !important;
border-radius:30px !important;
box-shadow: none;
} */